.sliders {
    background-image: url("https://static.vecteezy.com/system/resources/previews/003/805/187/non_2x/paper-art-online-shopping-on-smart-phone-buy-sell-on-mobile-technology-marketing-illustration-for-cover-page-design-on-website-free-vector.jpg");;
height: 600px;
margin-top: 30px;
margin-bottom: 20px;
}
.shopbutton {

    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 250px;
}

.buttonstyle {
    background-color: transparent;
    height: 70px;
}
.buttonstyle:hover {
    box-shadow: 0 0 2px 2px #eee;
    cursor: pointer;
    border-color: blue;
}